# docker-compose.yml

services:
  # 서비스 이름을 'backend'라고 지정합니다.
  backend:
    # Dockerfile을 현재 위치(.)에서 찾아서 빌드하라는 뜻입니다.
    build: .
    # 호스트(내 Mac)의 8080 포트를 컨테이너의 8000 포트로 연결합니다.
    ports:
      - "8080:8000"
    # 실행 시 .env 파일에 있는 모든 환경 변수(SECRET_KEY 등)를 자동으로 주입합니다.
    env_file:
      - .env
    # 컨테이너에 알아보기 쉬운 이름을 지정합니다.
    
    container_name: info_mate_backend
    # 컨테이너가 항상 켜져 있도록 설정합니다.
    restart: always